<p>hataraki is a web app for managing your portfolio. The portfolio made with this app can be shown by only person who has given the ID/Password.<br/>
This application is open source project on <a href="https://github.com/satoshi-takano/hataraki">GitHub</a>.</p>
