<% content_for :title do %>
About
<%  end %>

<% content_for :head do %>
<style type="text/css" media="all">
h1 {
    font-size: 18px;
    color: #3f3f3f;
    margin-bottom: 20px;
}
p {
    margin-bottom: 10px;
}

</style>
<% end %>

<h1>hatarakiについて</h1>
<p>hatarakiはクリエーターのための鍵付きポートフォリオサービスです。<br/>
仕事、プライベートで制作したものを記録して人に見せたい。でも、不特定多数に無条件で公開されてしまうのは都合が悪い。<br/>
hatarakiはそんなニーズを満たします。<br/>ビジネス用途でのプロダクト紹介などに便利なゲスト機能を備えており、ご自身のポートフォリオページへのアクセス権限を持つ ID/Password を無制限に発行・管理できます。</p>

<p>hatarakiを使うと、例えば<a href="/users/1" target="blank">このページ</a><span class="bold">のようなポートフォリオを、特定のゲストにだけ公開出来ます。 </p>
