<p>hatarakiはクリエーターのための鍵付きポートフォリオサービスです。<br/>
仕事、プライベートで制作したものを記録して人に見せたい。でも、不特定多数に無条件で公開されてしまうのは都合が悪い。<br/>
hatarakiはそんなニーズを満たすためのサービスです。<br/>
またhatarakiはオープンソース・ソフトウェアとして<a href="https://github.com/satoshi-takano/hataraki">GitHub</a>で公開されています。</p>

<br/>-
<p>hataraki is a web app for managing your portfolio. The portfolio made with this app can be shown by only person who has given the ID/Password.<br/>
This application is developed on <a href="https://github.com/satoshi-takano/hataraki">GitHub</a> as an open source software.</p>
