<%= render :partial => "sessions/header" %>

<table>
  <tr>
    <th>Login ID</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.login_id %></td>
    <td><%= guest.login_password %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New guest", new_guest_path %>
