<% content_for :title do %>
<%= "New guest" %>
<%  end %>

<% content_for :head do %>
<%= stylesheet_link_tag "guests", :media=>"all" %>
<% end %>

<%= render :partial => 'form' %>

<span class="links"><%= link_to 'Back', :back %></span>
  
