<ul class="share">
  <li class="hatebu">
    <a href="http://b.hatena.ne.jp/add?mode=confirm&url=http://hataraki.in&title=クリエーターのための鍵付きポートフォリオサービス「hataraki」" class="popup">
      <img src="/assets/common/button_hatebu.png" width="20" height="20" alt="はてなブックマークに登録"/>
    </a>
  </li>
  <li class="twitter">
    <a href="http://twitter.com/share?text=クリエーターのための鍵付きポートフォリオサービス「hataraki」&url=http://hataraki.in" class="popup">
      <img src="/assets/common/button_twitter.png" width="20" height="20" alt="twitterでシェア"/>
    </a>
  </li>
  <li class="facebook">
    <a href="http://www.facebook.com/sharer.php?u=http://hataraki.in&t=クリエーターのための鍵付きポートフォリオサービス「hataraki」" class="popup">
      <img src="/assets/common/button_facebook.png" width="20" height="20" alt="facebookでシェア"/>
    </a> 
  </li>
</ul>
