h1 {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    border-bottom: 1px dotted #d8d8d8;
}

label {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="submit"] {
    margin-bottom: 30px;
    margin-top: 10px;
}

body {
    margin-bottom: 20px;
}

#noguest {
    margin-top: 30px;
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 10px;
    
    color: #d0d0d0;
    margin-top: 60px;
    display: block;
}
#container #content-header div.right {
    margin-top: -30px;
}

#guests {
    margin-top: 30px;

    li {
        font-size: 14px;
        color: #3c3c3c;
        margin-bottom: 10px;
        padding: 5px;

        .index {
            font-weight: bold;
            color: #888888;
            margin-right: 10px;
        }
        
        .first {
            margin-left: 20px;
            color: #aaaaaa;
        }

        .p2 {
            margin-left: 20px;
            color: #888888;
        }

        .memo {
            font-weight: bold;
            color: #888888;
            font-size: 12px;
        }

        input {
            color: #888888;
            margin-top: 8px;
            border-style: dotted;
            background-color: inherit;
        }

        .notice {
            margin-left: 20px;
        }
        .error {
            color: #ff0000;
        }
        
        a {
            float: right;
            font-size: 12px;
            color: #ff7777;
            margin-top: 23px;
        }
    }
    li.hover {
        background-color: #f3f3f3;
    }
}
