label {
    font-size: 14px;
    color: #3c3c3c;
    margin-top: 10px;
}

.actions {
    margin-bottom: 20px;
}

body {
    margin-bottom: 20px;
}

#noguest {
    margin-top: 30px;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
    
    color: #d0d0d0;
    margin-top: 60px;
    display: block;
    font-family: Helvetica;
}

#guests {
    margin-top: 30px;

    li {
        font-size: 14px;
        color: #3c3c3c;
        margin-bottom: 10px;
        border-bottom: 1px dotted #eaeaea;

        .index {
            font-weight: bold;
            color: #888888;
            margin-right: 10px;
        }
        
        .first {
            margin-left: 20px;
            color: #aaaaaa;
        }

        .p2 {
            margin-left: 20px;
            color: #888888;
        }

        .memo {
            font-weight: bold;
            color: #888888;
            font-size: 12px;
        }

        input {
            color: #888888;
            margin-top: 8px;
            border-style: dotted;
            background-color: inherit;
        }

        .notice {
            margin-left: 20px;
        }
        .error {
            color: #ff0000;
        }
        
        a {
            float: right;
            font-size: 12px;
            color: #aa7777;
            margin-top: 20px;
        }
    }
}
