$side-margin: 80px;
$height: 55px;
$border-color: #eaeaea;

#header {
    .logo {
        margin-top: 16px;
        margin-left: $side-margin;
    }
    background-color: #fff;
    height: $height;
    border-bottom: 1px solid $border-color;
    #admin-tool {
        display: inline;
        float: right;
        margin-right: $side-margin;
        margin-top: ($height - 24px) * 0.5;

        .avatar {
            float: left;
            margin-right: 8px;
        }

        .user_name {
            font-size: 12px;
            margin-top: 6px;
            float: left;
            color: #888888;
            font-family: Helvetica;
        }
        
        a {
            font-size: 12px;
            color: #3c3c3c;
        }

        // <dropdown
        .dropdown {
            float: left;

            .dropdown-menu {
                left: -50px;
                top: 37px;
                border-radius: 0;
                border: 1px solid $border-color;
                border-top: none;
                -webkit-box-shadow: 0 0 0 0;
                -moz-box-shadow: 0 0 0 0;
            }

            .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
                background-image: none;
                background-color: #eaeaea;
            }
        }
        // dropdown>
        
    }
}