#authentication {
    position: absolute;
    top: 50%;
    margin-top: -280*0.5px;
    
    li {
        list-style: none;
        float: left;
    }
    left: 50%;
    margin-left: -280*0.5px;

    display: block;
    width: 280px;
    text-align: center;

    #logo {
        margin-bottom: 60px;
    }

    ul {
        margin: 0;
        margin-top: 10px;
        width: 280px;
        li {
            margin-right: 22px;
        }
        li.last {
            margin-right: 0px;
        }

        li:hover {
            opacity:0.8;
        }
    }

    .share {
        margin-top: 120px;
    }
}