label {
    font-size: 14px;
    color: #3c3c3c;
    margin-top: 10px;
    margin-bottom: 5px;
}

#image_selector {
    input {
        margin-bottom: 10px;
    }
}

input[type="submit"] {
    margin-top: 10px;
}
textarea {
    width: 300px;
}
.span5 {
    margin-bottom: 20px;
}
.span7 {

}
body {
    margin-bottom: 20px;
}

input[type="file"] {
    line-height: 100%;
}