// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#guest_chooser {
    font-size: 14px;

    #tellinfo {
        margin-left: 10px;
        color: #3c3c3c;
        margin-top: 10px;
        border: 1px solid #aaaaaa;
        padding: 10px;

        p {margin-bottom: 8px;}
        display: none;
    }

    ul.nav {
        margin-bottom: 10px;
    }
    
    li {
        .memo {
            color: #888888;
            float:right;
        }
    }
}

#container {

    h2 {
        margin-top: 30px;
        font-size: 22px;
        font-weight: lighter;
        color: #888888;
        margin-bottom: 10px;
    }

    #content-header {
        .btn {
            margin-top: 8px;
            margin-bottom: 20px;
            color: #555555;
            box-shadow: 0 0 0 0;
        }
    }

    .personal-label {
        position: absolute;
        left:8px;
        top: 8px;
        background-color: rgba(0, 196, 170, 0.4);
        color: #fff;
    }

    .thumbnail {
        padding: 0;
        
        .image {
            text-align: center;
            height: 100%;
            position: relative;
        }
        h4 {
            font-size: 18px;
            color: #3c3c3c;
            margin-bottom: 10px;
            font-weight: lighter;
        }
        .caption .btn {
            margin-top: 15px;
        }
        border: 1px solid #d7d7d7;
        border-radius: 2px;
    }

    #nowork {
        color: #d0d0d0;
        margin-top: 60px;
        display: block;
        font-family: Helvetica;
    }

    .label {
        font-size: 11px;
    }
}
