$content-margin-top: 40px;

#container {
    margin-top: 60px;

    .row {

    }

    h2 {
        font-size: 24px;
        color: #3c3c3c;
        font-weight: lighter;
    }

    .span4 {
        margin-left: 0;
        
        .small {
            font-size: 12px;
        }

        h5 {
            font-size: 14px;
            color: #000;
            margin-top: $content-margin-top;
            margin-bottom: 8px;
        }

        p {
            font-size: 12px;
            color: #464646;
        }

        .description {
            margin-top: $content-margin-top;
            margin-bottom: 10px;
        }
    }

    .span7 {
        border: 1px solid #d7d7d7;
        border-radius: 2px;
    }

    .links {
        font-size: 14px;
    }
}