<div id="footer">
  <ul>
    <li><%= link_to "About hataraki", "/about" %></li>
    <li><%= link_to "Contact", "/contact" %></li>
    <li><%= link_to "Terms of Service", "/leagal" %></li>
    <li><%= link_to "Privacy Policy", "/privacy" %></li>
  </ul>
</div>
